<!DOCTYPE html>
<html>
  <head>
    <title>Geotag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class = "projectName" >Location Finding From Images Using Geo-tagged Images</h1><br><br><br>
      </div>
  </header>
    {% block content %}
    {% endblock %}
   
  </body>
</html>